<h1>PLAYER CHOICE</h1>
<div class="bg-slate-600 h-10 w-20 rounded-sm">
  <div class="flex justify-around items-center h-10">
    <span>X</span>
    <span>O</span>
  </div>
</div>

<div class="grid place-content-center box gap-[10px]">
  <div class="flex justify-center items-center content-1">*</div>
  <div class="flex justify-center items-center content-1">*</div>
  <div class="flex justify-center items-center content-1">*</div>
  <div class="flex justify-center items-center content-1">*</div>
  <div class="flex justify-center items-center content-1">*</div>
  <div class="flex justify-center items-center content-1">*</div>
  <div class="flex justify-center items-center content-1">*</div>
  <div class="flex justify-center items-center content-1">*</div>
  <div class="flex justify-center items-center content-1">*</div>
</div>
